<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jsf="http://jsf.jd.com/schema/jsf"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://jsf.jd.com/schema/jsf http://jsf.jd.com/schema/jsf/jsf.xsd"
       default-autowire="byName">
    <!--<jsf:registry id="jsfRegistry" protocol="jsfRegistry" index="i.jsf.jd.com" />-->

    <jsf:registry id="jsfRegistry" protocol="jsfRegistry" index="test.i.jsf.jd.local" />

    <!-- 单点登录JSF服务接口 -->
    <jsf:consumer id="ssoService" interface="com.jd.ssa.service.SsoService" protocol="jsf" alias="v1" timeout="10000"/>

</beans>