<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="renderer" content="webkit">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>inaction</title>
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <div>
        <h1>Hello , world!!!</h1>
        <h1> 空谈误国 实干兴邦 | WE ARE INACTION  </h1>
        <h1> zxj </h1>
    </div>
</body>
</html>